.App {
  text-align: center;
/* //  background-color: black; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
 
button {
  background-color: yellowgreen;
  font-weight: bold;
  font-size: 20px;
  height: 150px;
  width: 150px;
  text-align: center;
}
body{
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
#DIV {
  margin-left: 33.5%;
  margin-top: 5%;
  margin-right: 50%;
} 
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* margin-left: 35%; */
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  /* margin-left: 35%; */
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
 